/*csslint ids:false, box model: false*/


/**********************************************
GENERAL
***********************************************/
body {
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    /*Margin 0 is for all sides*/
    margin: 0 auto;
    /*max-width is related to width. But instead of width, max-width that it cacn be smaller for mobile devices/tablets.*/
    max-width: 791px;
    
    /*Values first one top and bottom. Second one is left and right.*/
    padding: 0 5%;  
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}


/**********************************************
HEADER
***********************************************/
header{
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0;
    width: 100%;
}

#logo {
    margin: 0;
    /*our name and description of who we are.*/
    text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0;
    font-size: 5em;
}

h2 {
    font-size: 3em;
    /*1st value is for top. 2nd value is for left and right. 3rd values is for bottom.*/
    margin: -5px 0 0;
    font-weight: normal;
}

/**********************************************
NAVIGATION
***********************************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

/**********************************************
FOOTER
***********************************************/
footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
}

.social-media-icon {
    width: 60px;
    height: 40px;
    margin: 0 5px;
}

/**********************************************
PAGE PORTFOLIO
***********************************************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 50%;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #;
    color: #;
}

/**********************************************
ABOUT ME PAGE
***********************************************/
.profile-photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 50%;
}

/**********************************************
CONTACT PAGE
***********************************************/
.contact-info{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 30px;
    /* by default it will always repeat, background images*/
    background-repeat: no-repeat;
    /*re-size the background img*/
    background-size: 30px 30px;
    padding: 0 0 0 50px;
    margin: 0 0 30px;
}

.contact-info li.youtube a {
    background-image: url('../img/YouTube.jpg');
}

.contact-info li.email a {
    background-image: url('../img/Email.jpg');
}

/**********************************************
COLORS
***********************************************/
#index {
    background-color: #020302;
    color: #fff;
}

a {
    color: #fff;
}

header {
    background: #020302;
}

h1, h2 {
    color: #fff;
}

nav {
    background: #020302;
}

/*Pseudo-Class*/
nav a, nav a:visited {
    color: #04D10B;
}

nav a.selected, nav a:hover {
    color: #000000;
}


/**********************************************
MEDIA Querie
***********************************************/
/*TWO COLUMN LAYOUT*/

@media screen and (min-width: 480px){
    #primary {
        width: 50%;
        float: left;
    }
    
    #secondary {
        width: 40%;
        float: right;
    }
    /*THREE COLUMB LAYOUT PORTFOLIO*/
    #gallery li{
        width: 28.3333%
    }
    #gallery li:nth-child(4n){
        clear: left;
    }
    /*ABOUT PAGE*/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px){
    /*NAV*/
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}


#about {
    background-color: #0FD1C7;
}


#contact  {
    background-color: #E85110;
}    












